<!-- BODY -->

<!--========== HEADER ==========-->
<header class="header navbar-fixed-top">
  <nav class="navbar fixed-top  navbar-expand-lg " role="navigation">
    <div class="container">

      <div class="logo">
        <a class="logo-wrap" [routerLink]="['/']">
          <img class="logo-img" src="assets/img/logo.png" alt="Asentus Logo">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <div class="my-2 my-lg-0">

     <!--     <hero-list-basic></hero-list-basic>
     -->     <ngbd-typeahead-http></ngbd-typeahead-http>
        </div>


        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li [routerLink]="['/']" class="js_nav-item nav-item"><a
            class="nav-item-child nav-item-hover">O
            Cyrklu</a></li>
          <li [routerLink]="['/']" class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover"
                                                                   href="#contact">Kontakt</a>
          </li>
          <li [routerLink]="['/dogs']" class="js_nav-item nav-item"><a
            class="nav-item-child nav-item-hover">Wyszukiwarka
            zadań</a></li>

        </ul>
      </div>
    </div>
  </nav>
</header>
<!--========== END HEADER ==========-->

<!-- Router Outlet -->
<router-outlet></router-outlet>

<!--========== FOOTER ==========-->
<footer class="footer">
  <div class="content container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-6">
        <img class="footer-logo" src="assets/img/logo.png" alt="Acecv Logo">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right sm-text-left">
        <a
          href="https://pl.wikisource.org/wiki/Prawo_autorskie_(ustawa_z_4_lutego_1994_r._tekst_jednolity_z_2016_r.)#Oddzia.C5.82_3:_Dozwolony_u.C5.BCytek_chronionych_utwor.C3.B3w">
          <p class="margin-b-0">Rozwiązania zadań zostały udostępnione na mocy ustawy z 4 lutego 1994 r. o prawach
            autorskich, Oddział 3: Dozwolony użytek chronionych utworów.</p>
          <br>
          <p class="margin-b-0">Wszystkie prawa do treści zadań i wyświetlonych okładek należą do prawowitych twórców,
            nie są moją własnością, a za działanie serwisu nie pozyskuję korzyści majątkowych.</p>
        </a>
      </div>
    </div>
    <!--// end row -->
  </div>
</footer>
<!--========== END FOOTER ==========-->

