



<!--========== SLIDER ==========-->
<div class="promo-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 sm-margin-b-60">
        <div class="margin-b-30">
          <h2 class="promo-block-title">Fizyka, <br/> Prościej.</h2>
          <p class="promo-block-text">Darmowa platforma do wymiany wiedzy.</p>
          <br>
          <p class="promo-block-text">Załóż konto i korzystaj ze zweryfikowanych rozwiązań setek zadań wraz z
            rysunkami i wytłumaczeniem.</p>
          <p class="promo-block-text">W tej chwili mamy <b>

          <span class="promo-block-text" *ngIf="loadingCounter && counter == 0">Loading...</span>
          <span class="promo-block-text" *ngIf="!loadingCounter && counter != 0">{{counter}} {{formatter()}}</span>

          </b> </p>

        </div>

      </div>
      <div class="col-sm-6">
        <div class="promo-block-img-wrap">
          <img class="promo-block-img img-responsive" src="assets/img/mockup/avatar-01.png" align="Avatar">
        </div>
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- About -->
<div id="about">
  <div class="container content-lg">
    <div class="row">
      <div class="col-sm-5 sm-margin-b-60 mobileHidden">
        <img class="full-width img-responsive" src="assets/img/500x700/01.png" alt="Image">
      </div>
      <div id="faq" class="col-sm-7">
        <div class="section-seperator margin-b-50">
          <div class="margin-b-50">
            <div class="margin-b-30">
              <h2>O Cyrklu</h2>
              <p>I'm Alisa Portman, orem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>

        <h2>FAQ</h2>
        <p><b> Jaki jest poziom zbiorów które obejmują rozwiązania? </b></p>
        <p> Szkoła średnia.</p>
        <p><b> Czy strona pobiera jakieś opłaty? </b></p>
        <p> Nie.</p>
        <p><b> Czy przewidujesz udostępniać treść zadań, poza rozwiązaniami? </b></p>
        <p> Nie. </p>
        <p><b> Mam parę rozwiązań zadań, którymi chciałbym się podzielić.</b></p>
        <p> Super, napisz do mnie, kontakt poniżej.</p>
        <p><b> Jak często strona jest uaktualniana? </b></p>
        <p> Po godzinach, każda pomoc się przyda.</p>


      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End About -->


<!-- Contact -->
<div id="contact">
  <div class="bg-color-sky-light">
    <div class="container content-lg">
      <div class="row margin-b-40">
        <div class="col-sm-6">
          <h2>Kontakt</h2>
          <p>Mój mail:</p>
          <p>Świetne logo serwisu wykonane i udostępnione za uprzejmością Izabeli Chmielewskiej, kontakt:</p>
        </div>
      </div>
      <!--// end row -->

    </div>
  </div>
</div>
<!-- End Contact -->
<!--========== END PAGE LAYOUT ==========-->
