<style>

input[type=text]{
margin-top: 17px;
}

input[type=text]:focus {
    width: 100%;
}

</style>
<!--

<ng-template #rt let-r="result" let-t="term">

  <div  [routerLink]="['/dogs']">
  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" width="64">
    {{ r.numer}} + {{r.tresc}}
  </div>

</ng-template>


<input (blur)="focus=false" (focus)="focus=true" [ngStyle]="{'width': router.url === '/dogs' || (router.url==='/' && focus) ? '130%' : '30%' }" id="typeahead-template" type="text"  [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
       [inputFormatter]="formatter" />
-->
<ng-template #rt let-r="result" let-t="term">

  <div [routerLink]="['/dogs']" (click)="sendMessage(r);">
    <img [src]="'/assets/img/podreczniki/64/' + r['img']" height="64">
      {{ r.numer}} + {{r.tresc}}
  </div>
</ng-template>

<input (blur)="focus=false" (focus)="focus=true" [ngStyle]="{'width': router.url === '/dogs' || (router.url==='/' && focus) ? '130%' : '30%' }" id="typeahead-template" type="text"  [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
       [inputFormatter]="formatter" />

<!--

<div class="form-group">
  <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Wikipedia search" />
  <span *ngIf="searching">searching...</span>
  <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
</div>

-->
