/*------------------------------------------------------------------
  	[Promo Banner]
------------------------------------------------------------------*/

.promo-banner {
	text-align: center;

	.promo-banner-title {
		@include font($size: 50px);
		color: $color-white;
	}

	.promo-banner-text {
		@include font($size: 20px);
		color: $color-white;
		opacity: .8;
	}
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}










h1 {
  font-size: 3em;
  @include stroke(5,grey);
  color: #F5F5F5 ;
}
.function {
  @include stroke(2,#FF6F00);
  color: #FFE082;
}
.mixin {
  @include stroke(3,#CDDC39);
  color: #827717;
}
.fonts {
  @include stroke(2,#424242);
  color: #BDBDBD;
}

.large {
  font-size: 2em;
  line-height: 1.2;
  @include stroke(4,#6D4C41);
  color: #FFAB91;
  div {margin: 4px;}
}




@function _ss-str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + _ss-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}
$font-families: ("Medula One","Atomic Age","Sigmar One","Fontdiner Swanky","Graduate","Luckiest Guy","Freckle Face","Iceland","UnifrakturMaguntia","Titan One","Oregano","Miltonian Tattoo","Raleway Dots","Milonga","Pirata One","Wellfleet");
@import url(//fonts.googleapis.com/css?family=Atomic+Age|Sigmar+One|Fontdiner+Swanky|Graduate|Luckiest+Guy|Freckle+Face|Iceland|UnifrakturMaguntia|Titan+One|Oregano|Miltonian+Tattoo|Raleway+Dots|Milonga|Pirata+One|Wellfleet|Medula+One);

@for $i from 1 through length($font-families) {
  $font-family: nth($font-families,$i);
  $classname: _ss-str-replace($font-family, ' ', '-');
  .#{$classname} {
    font-family: $font-family;
    $deg: (360/length($font-families));
    @include stroke(max(2,$i%5),hsl($i*$deg,100%,50%));
    color: hsl($i*$deg - 180,100%,50%);
  }
}


